
.hero-buttons {
  justify-content: center;
  margin-top: .5rem;
}

.button-red {
  background-color: #fcd2d2;
}

.button-green {
  background-color: #b6f6b6;
}

.margin-bottom-fix {
  margin-bottom: 0.75rem !important;
}

.monetary-items {
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.monetary-box {
  width: 90%;
  max-width: 450px;
  margin: 5px 5px 10px 5px !important;
}

.box-upper-right {
  width: 30%;
  justify-content: space-between;
}

.is-bordered-red {
  border: 3px solid darkred;
}

.is-bordered-green {
  border: 3px solid green;
}

.monetary-box .input {
  margin: 5px 0;
}
