
.hero-buttons {
  justify-content: center;
}

.margin-bottom-fix {
  margin-bottom: 0.75rem !important;
}

.monetary-items {
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.monetary-box {
  width: 90%;
  max-width: 450px;
  margin: 5px 5px 10px 5px !important;
}

.is-bordered-red {
  border: 3px solid darkred;
}

.is-bordered-green {
  border: 3px solid green;
}

.monetary-box .input {
  margin: 5px 0;
}
